.list-of-requisites {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	border-top: #efefef 1px solid;

	li {
		padding: .5rem 0;
		color: #a3a3a3;
		font-size: .875rem;
		&:not(:last-child):after {
			content: "/";
			margin: 0 .5rem;
		}
	}
}

@media (min-width: 576px) {
	.list-of-requisites {
		li {
			padding: 1rem 0;
		}
	}
}