.contacts {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 180px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #7f7f7f;
	address,
	time {
		display: block;
		font-weight: 600;
		margin-bottom: 0;
	}
	.telephones {
		figcaption {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
		a {
			display: block;
			font-size: 1.5rem;
			font-weight: 600;
			flex: 1 50%;
			white-space: nowrap;
		}
	}
}

.list-of-contacts {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 0;
	.contact {
		display: flex;
		&.telephones {
			margin-bottom: 0;
		}
		[data-icon] {
			min-width: 40px;
			min-height: 40px;
			margin-right: 20px;
			border: #efefef 1px solid;
			border-radius: 50%;
			background-size: 20px;
		}
	}
}

.logo {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: .875rem;
	font-weight: 600;
	text-align: center;
	img {
		margin-bottom: .75rem;
		min-width: 220px;
		min-height: 66px;
	}
}

@media (min-width: 560px) {
	.logo {
		margin-right: 3rem;
	}
}

@media (min-width: 768px) {

}

@media (min-width: 576px) and (max-width: 991px) {
	.logo {
		flex-direction: row;
		margin-right: 0;
		text-align: left;
		figcaption {
			font-size: 1rem;
		}
		&>a,
		&>figcaption {
			min-width: 50%;
		}
		&>figcaption {
			padding-left: 1rem;
		}
		&>a {
			padding-right: 1rem;
			text-align: right;
		}
	}
}

@media (min-width: 992px) {
	.contacts {
		flex-wrap: nowrap;
	}
	.logo {
		margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.contact {
		margin-bottom: 0;
	}
	.contact.address figcaption>span {
		white-space: nowrap;
	}
}