section {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	header,
	h1,
	h2 {
		text-align: center;
	}

	&>.container {
		&>header {
			margin-bottom: 55px;
		}
		&>:last-child {
			margin-bottom: 0;
		}
	}
}

.feedback {
	text-align: center;
	color: #7d661b;
	h3 {
		margin-bottom: 1rem;
		color: initial;
	}
	.description {
	}
	footer {
		opacity: .5;
		margin-top: 1rem;
	}

	.form-control {
		text-align: center;
	}
}

#owners-of-bookstores {
	position: relative;
	overflow-x: hidden;
	background-image: url(../../images/pages/index/backgrounds/owners-of-bookstores.png);
	background-size: cover;
	background-position: center;
	&:before {
		//content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		min-width: 1920px;
		margin: auto;
	    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));
		background-image: 
			url(../../images/pages/index/coins/coin_2010_SA_Krgerrand_1oz_VS.png),
			url(../../images/pages/index/coins/coin_1_rubla__Alexandr-3_1888.png),
			url(../../images/pages/index/coins/coin_imperator.png),
			url(../../images/pages/index/coins/coin_chistago_serebra_4_zolotn_21_dolya.png),

			url(../../images/pages/index/coins/coin_70_let_pobedy_v_velikoi_otechestvennoi_voine.png),
			url(../../images/pages/index/coins/coin_Gold_Chervonets_1923_reverse.png),
			url(../../images/pages/index/coins/coin_s_novym_godom_i_rojdestvom.png),
			url(../../images/pages/index/coins/coin_OLD_SOVIET_CARS__GAZ_12_ZIM.png);
		background-size: 
			100px,
			80px,
			160px,
			220px,

			110px,
			120px,
			160px,
			180px;
		background-position:
			250px -25px,
			70px 90px,
			160px 215px,
			-30px 110%,

			1600px 30px,
			1560px 220px,
			1800px 220px,
			1510px 105%;
		background-repeat: no-repeat;
		//animation: coinLight 12s infinite;
	}
}

#remember {
	.guarantee {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		h2 {
			color: initial;
		}
		[data-icon] {
			min-width: 200px;
			min-height: 200px;
			margin-bottom: 2rem;
		}
		.lead {
			p {
				font-weight: 500;
			}
			:last-child {
				margin-bottom: 0;
			}
		}
	}
}

#simple-solution {
	background-image: url(../../images/pages/index/backgrounds/simple-solution.png);
}

#how-much-is {
	border-bottom: #efefef 1px solid;
}

#offer-is-limited {
	background-image: url(../../images/pages/index/backgrounds/offer-is-limited.png);
}

#what-should-be-done {
	$countElements: 8;

	.list-of-figures {
		li {
			&:before {
				content: "";
				display: block;
				position: absolute;
				right: 0;
				left: 0;
				bottom: -40px;
				width: 60px;
				height: 60px;
				margin: auto;
				background-color: #fff;
				border-radius: 50%;
				border: 1px solid #efefef;
				z-index: 1;
				background-image: url(../../images/icons/_right-arrow.svg);
				background-repeat: no-repeat;
				background-size: 30px;
				background-position: center;
				transform: rotate(90deg);
				animation: backgroundColor #{$countElements}s infinite;
			}
			&:last-child {
				&:before {
					display: none;
				}
				.figure {
					align-items: center;
					justify-content: center;
					padding: 2rem;
				}
			}

			@for $i from 1 to $countElements {
			  &:nth-child(#{$i}):before { 
			  	animation-delay: #{$i}s;
			  }
			}

		}
	}
}

@media (min-width: 1200px) {
	#what-should-be-done {
		.list-of-figures {
			li {
				&:before {
					left: initial;
					right: -30px;
					top: 0;
					bottom: 0;
					transform: initial;
				}
				&:nth-child(4) {
					&:before {
						left: 0;
						right: 0;
						top: initial;
						bottom: -40px;
						transform: rotate(90deg);
					}
				}
				&:nth-child(5) { order: 4 }
				&:nth-child(6) { order: 3 }
				&:nth-child(7) { order: 2 }
				&:nth-child(8) { order: 1 }
			}
		}
	}
}

@media (min-width: 992px) {
	.bg-dark {
		.row {
			.lead {
				padding-right: 100px;
			}
		}
	}
}

@media (min-width: 768px) {
	section {
		padding-top: 4.125rem;
		padding-bottom: 4.125rem;
	}
	#remember {
		.guarantee {
			h2 {
				text-align: initial;
			}
			[data-icon] {
				margin-right: 4.125rem;
				margin-bottom: 0;
			}
		}
	}
	#what-should-be-done {
		.list-of-figures {
			li {
				&:before {
					left: initial;
					right: -30px;
					top: 0;
					bottom: 0;
					transform: initial;
				}
				&:nth-child(4) {
					.figure-caption {
						font-size: .9275rem;
					}
				}
				&:nth-child(n+5):before {
					right: initial;
					left: -30px;
					transform: rotate(180deg);
				}

				&:nth-child(4) { order: 3 }
				&:nth-child(5) { order: 2 }
				&:nth-child(6) { order: 3 }
				&:nth-child(7) { order: 4 }
				&:nth-child(8) { order: 5 }
			}
		}
	}
}

@media (max-width: 767px) {
	.card {
		margin: .625rem;
	}
}


@keyframes backgroundColor {
	0% { 
		background-color: #fff;
		border-color: #efefef;
		filter: initial;
	}
	10% { 
		background-color: var(--orange);
		border-color: transparent;
		filter: brightness(1.5);
	}
	20% { 
		background-color: #fff; 
		border-color: #efefef;
		filter: initial;
	}
}