[data-icon] {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
[data-icon="coins"] { background-image: url(../images/icons/coins.svg); }
[data-icon="book"] { background-image: url(../images/icons/book.svg); }
[data-icon="stats"] { background-image: url(../images/icons/stats.svg); }
[data-icon="list"] { background-image: url(../images/icons/list.svg); }
[data-icon="information"] { background-image: url(../images/icons/information.svg); }
[data-icon="support"] { background-image: url(../images/icons/support.svg); }
[data-icon="add"] { background-image: url(../images/icons/add.svg); }
[data-icon="discount"] { background-image: url(../images/icons/discount.svg); }
[data-icon="excel-file"] { background-image: url(../images/icons/excel-file.svg); }
[data-icon="guarantee"] { background-image: url(../images/icons/guarantee.svg); }
[data-icon="request"] { background-image: url(../images/icons/request.svg); }
[data-icon="telephone"] { background-image: url(../images/icons/telephone.svg); }
[data-icon="message"] { background-image: url(../images/icons/message.svg); }
[data-icon="check-list"] { background-image: url(../images/icons/check-list.svg); }
[data-icon="agreement"] { background-image: url(../images/icons/agreement.svg); }
[data-icon="money"] { background-image: url(../images/icons/money.svg); }
[data-icon="package"] { background-image: url(../images/icons/package.svg); }

[data-icon="_location"] { background-image: url(../images/icons/ui/location.svg); }
[data-icon="_time"] { background-image: url(../images/icons/ui/time.svg); }
[data-icon="_telephone"] { background-image: url(../images/icons/ui/telephone.svg); }