@import "bootstrap_theme";
@import "icons";

@import "components/header";
@import "components/footer";

.aos-init.aos-animate {
	transform: initial !important;
}

body.d-none {
	display: block!important;
}

.list-of-figures {
	li {
		margin-bottom: 1.25rem;
		.figure {
			margin-bottom: 0;
		}
	}
}